// import MUI colors
@import "../bower_components/mui/src/sass/mui/colors";

// customize MUI variables
$clr-prm: 'purple';
$clr-acn: 'orange';
$mui-primary-color:       #8f309c;
$mui-primary-color-dark:  #48184e;
$mui-primary-color-superdark:  #2c0f30;
$mui-primary-color-light: #c263cf;

$mui-accent-color:        mui-color($clr-acn, 'A200');
$mui-accent-color-dark:   mui-color($clr-acn, 'A100');
$mui-accent-color-light:  mui-color($clr-acn, 'A400');

$display-font: 'Marcellus SC';
$title-font: 'Marcellus SC';
$content-font: 'Maven Pro';

// import MUI SASS
@import "../bower_components/mui/src/sass/mui";

// ========================================================
// FLEX CONTENTS
// ========================================================
.mui-fcolumn,
.mui-frow {
    display: -webkit-flex;
    display: flex;
}
.mui-inline-fcolumn,
.mui-inline-frow {
    display: -webkit-inline-flex;
    display: inline-flex;
}
.mui-frow,
.mui-inline-frow {
    &.mui-freverse {
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}
.mui-fcolumn,
.mui-inline-fcolumn {
    -webkit-flex-direction: column;
    flex-direction: column;
    &.mui-freverse {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}
.mui-fcolumn,
.mui-frow,
.mui-inline-fcolumn,
.mui-inline-frow {
    &.mui-centered {
        -webkit-justify-content: center;
        justify-content: center;
    }
    &.mui-fend {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
    &.mui-filled {
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    &.mui-swimming {
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
}
.flex {
    -webkit-flex: 1;
    flex: 1;
}


.mui--text-primary {
    color: $mui-primary-color;
}

.mui--text-primary-light {
    color: $mui-primary-color-light;
}

html,body {
    font-family: $content-font, sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

a{
    color: inherit;
    &:visited, &:link, &:hover{
        color: inherit;
        text-decoration: none;
    }
}

.mui-appbar{
    padding: 24px 12px;
    background-color: $mui-primary-color-superdark;
    font-family: $display-font;
    .logo{
        width: 100px;
    }
    > * {
        margin: 0px 6px;
    }
}

#sidebar {
    @extend .mui--bg-primary-dark;
    @extend .mui--text-white;
    text-transform: capitalize;
    width: 320px;
    padding: 8px 0px;
    margin-right: 56px;
    font-family: $title-font;
    .item{
        @extend .mui-fcolumn;
        @extend .mui-centered;
        padding: 0px 16px;
        height: 48px;
        &:hover{
            background-color: $mui-primary-color-light;
        }
    }
}

.chapter{
    padding: 12px;
    @extend .mui--divider-bottom;
}
