doctype html
html
    head
        title Tayr ORM
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='description',content='Tayr is a NodeJS MySql ORM that needs "zero-config", It makes the database schema and updates automatically, and let you focus on your code without carrying on models and migrations...')
        link(rel="icon",href="img/icons/favicon.ico",type='image/ico')
        link(href='https://fonts.googleapis.com/css?family=Galada', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Marcellus+SC', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Maven+Pro', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='css/style.min.css', media='screen')
        link(rel='stylesheet', type='text/css', href='css/default.css', media='screen')
        link(rel='stylesheet', type='text/css', href='css/tomorrow.css', media='screen')
        link(rel='stylesheet', type='text/css', href='css/print.css', media='print')
        link(rel='stylesheet', href='bower_components/components-font-awesome/css/font-awesome.min.css')
    body
        header.mui-appbar.mui-frow.mui-filled
            .mui-fcolumn.mui-fend
                img.logo(src='img/logo.svg')
            .mui-fcolumn.mui-fend.mui--text-display3 Tayr
            .mui-fcolumn.mui-fend.mui--text-headline.mui--text-primary-light
                | The ORM that gives you wings
            .flex
            a(href='https://github.com/burawi/tayr',target='_blank')
                .social-btn.github
                    i.fa.fa-github-alt.fa-2x
            a(href='https://www.facebook.com/TayrORM/',target='_blank')
                .social-btn.facebook
                    i.fa.fa-facebook.fa-2x
        .mui-frow
            #sidebar
                each page in pages
                    a(href='#'+page.name)
                        .item= page.displayName
            #content-wrapper
                .mui-frow.mui-filled
                    section#main-content
                        each page in pages
                            .chapter(id=page.name) #{page.name}%%%%
                    //- aside#sidebar
                    //-     a.button(href='https://github.com/burawi/tayr/zipball/master')
                    //-         button.mui-btn.mui-btn--accent(type='button')
                    //-             i.fa.fa-file-archive-o
                    //-             |  .zip file
                    //-     a.button(href='https://github.com/burawi/tayr/tarball/master')
                    //-         button.mui-btn.mui-btn--accent(type='button')
                    //-             i.fa.fa-file-archive-o
                    //-             |  .tar.gz file
                    //-     p.repo-owner
                    //-         a(href='https://github.com/burawi/tayr')
                    //-         |  is maintained by 
                    //-         a(href='https://github.com/burawi') burawi.
